*.fbx
*.db
*.ipch
*.lib
*.raw
*.pdb
*.sdf
Data/Geometry
Source/SDKs
Source/System/x64
Source/Renderer_DX12/x64
Source/Audio/x64
Source/Ptero-Engine/x64
Cache/QtBuild
Cache/Qt-Release
Cache/QtTests
Farkle
Website
Binaries/ffmpeg