# Farkle player settings, written by the game's Settings menu.
anti-aliasing=taa
ao-quality=high
chromatic-aberration=on
display-mode=borderless
fog-quality=high
fsr-frame-generation=on
gi-quality=low
language=en
max-score=3000
model-quality=high
music-volume=100
overall-volume=59
resolution=1920x1080
shadow-quality=high
show-statistics=off
sound-volume=100
texture-quality=ultra
upscaler=none
upscaler-quality=native
upscaler-sharpness=medium
